/* ############################# */
/* Index.html CSS */
/* use background colour property when you want to see the physical border of the flex boxes. Useful for testing purposes */

  #UI-placement {
    display: flex;
    /* background-color: dodgerblue; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #scanning-overlay, #text, #iconsDiv {
    margin: 10px;
    text-align: center;
    background-color:aliceblue;
    /* setting width of elements 
    CANNOT use flexbox property, flex, as all elememts have their main axis as vertical so flex will actually fix a height and not a width.
    Same issue if you want to use flex-basis to fix the width. Note that you can use those properties if you further nest these elements into another flexbox. But it's a little
    redundant and adds unnecessary complexity.*/ 
    width: 75%;
  }

  /* required to turn iconsDiv into a flexbox */
  #iconsDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #scanning-overlay{
    margin-top: 12vh;
    text-align: center;
  }

  #scanning-overlay.hidden{
    visibility: hidden;
  }

  #scanBoxP{
    /* font-family: Roboto;  */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* font-size: 4vw;  */
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(225, 216, 216);
    margin-top: -15%;  
  }

  #scanBoxSize{
    width: 80%; 
    height: 80%; 
    margin-left: 10%;
  }

  .btnP{
    /* font-family: Roboto;  */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 3vw; 
    font-weight: 600;
    color: rgb(225, 216, 216);
    margin-top: 7%;
  }

  .btnDiv{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  #loadModelsButton{
    position: relative;
    z-index: 1;
    width: 7vh;
    height: 7vh;
  }
  #moreInfoButton{
    width: 7vh;
    height: 7vh;
  }

/* ############################# */
/* Model-Viewer CSS */
#headerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

#arrowLeft{
  width: 9%;
  height: 9%;
}

#headerTop{
  /* font-family: Roboto; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 6.7vw;
  margin-right: 9%; 
  padding: 3vw 14%;
}

#cotentDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
}

#modelsDiv{
  text-align: center;
}

.tapImg{
  height: 45%; 
  width: 45%;
  border: 0.3vh solid gray;
  margin: 1% 1%;
}


/* ############################# */